<div class="devices">
	<div class="row">
		<div class="col-xs-12 name"><%= link_to device.name, device_path(device) %></div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="image"><%= image_tag device.image_url(:device_container).to_s, :class => "img-responsive" if device.image?%>
			</div>
		</div>
	</div>
	<% if params[:action] == 'show' %>
		<% if user_signed_in? %>
			<div class="row">
				<div class="col-xs-12">
					<div class="device_email">Contact: <%= device.contact_email %></div>
					
				</div>
			</div>
		<% end %>
	<% end %>
	<div class="row">
		<div class="col-xs-12">
			<!-- <div class="availability"><%= device.availability %></div> -->
			<!-- <button type="button" class="availability"><%= device.availability %></button> -->
			<!-- <%= link_to device.availability, root_path, :class => "availability" %> -->
			<div class="availability">
				<%= link_to device.availability, device_path(device) %>
			</div>

		</div>
	</div>
</div>
